@tailwind base;
@tailwind components;
@tailwind utilities;

main {
    /* find a nice dark color for background */
    /* themes in settings - dark mode, other themes */
    /* use a %gora to log in - once permissions are more built in, pay to keep %gora on some subscription model,  */
    background-color: #D9D6D4;
    /* background-color: darkslategrey; */
}

ion-icon {
    color: #337CA0;
    /* color: #374151; */
}

#info-icon {
    vertical-align: middle;
    padding-left: 8px;
    padding-bottom: 4px;
}

#copy-icon {
    color: gray;
    margin-left: 3%;
    padding: 0 1%;
    font-size: 1.3rem;
}

#settings-icon {
    color: #374151;
    font-size: 1.6rem;
    margin-right: 9px;
    margin-top: 4px;
}