@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    background-color: #D9D6D4;
}

main {
    /* find a nice dark color for background */
    /* themes in settings - dark mode, other themes */
    /* use a %gora to log in - once permissions are more built in, pay to keep %gora on some subscription model,  */
    background-color: #D9D6D4;
    /* background-color: darkslategrey; */
}

ion-icon {
    color: #337CA0;
    pointer-events: none;
    /* color: #374151; */
}

#copy-icon {
    color: gray;
    margin-left: 3%;
    padding: 0 1%;
    /* TODO: size is hard coded, should revisit, same as below */
    font-size: 1.3em;
}

#generated-copy-icon {
    color: #337CA0;
    margin-left: 10%;
    font-size: 1.7em
}

#settings-icon {
    font-size: 1.2rem;
}
